# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
src/config/env/development.env
src/config/env/test.env
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_cache_cache_config_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_cache_cache_constants_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_cache_cache_contract_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_cache_cache_service_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_cache_health_indicator_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_config_configuration_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_config_validation_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_database_database_config_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_decorators_is_equal_to_decorator_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_main_main_controller_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_main_main_service_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_models_dtos_create_user_dto_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_models_dtos_get_user_dto_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_models_dtos_update_user_dto_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_models_dtos_user_dto_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_models_index_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_models_user_entity_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_models_user_interface_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_models_user_types_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_services_index_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_services_service_interface_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/_home_mateus_MyProjects_flow_backend_src_user_services_user_service_ts_1_1_P1_ENTRY.ucfg
.scannerwork/ucfg2/js/src_cache_cache_config_ts_7_30_A_0_con.ucfg
.scannerwork/ucfg2/js/src_cache_cache_service_ts_6_14_FE_0_Ptr.ucfg
.scannerwork/ucfg2/js/src_cache_cache_service_ts_8_12_FE_1_key_val.ucfg
.scannerwork/ucfg2/js/src_cache_cache_service_ts_12_12_FE_2_key.ucfg
.scannerwork/ucfg2/js/src_cache_cache_service_ts_16_12_FE_3_key.ucfg
.scannerwork/ucfg2/js/src_cache_health_indicator_ts_9_14_FE_4_Ptr.ucfg
.scannerwork/ucfg2/js/src_cache_health_indicator_ts_12_18_FE_5_key.ucfg
.scannerwork/ucfg2/js/src_config_configuration_ts_32_30_A_1_0.ucfg
.scannerwork/ucfg2/js/src_database_database_config_ts_4_30_A_2_con.ucfg
.scannerwork/ucfg2/js/src_decorators_is_equal_to_decorator_ts_3_8_FD_0_IsEqualTo.ucfg
.scannerwork/ucfg2/js/src_decorators_is_equal_to_decorator_ts_4_10_A_6_obj_pro.ucfg
.scannerwork/ucfg2/js/src_decorators_is_equal_to_decorator_ts_12_17_FE_9_val_arg.ucfg
.scannerwork/ucfg2/js/src_decorators_is_equal_to_decorator_ts_18_23_FE_10_arg.ucfg
.scannerwork/ucfg2/js/src_main_main_controller_ts_15_14_FE_6_Ptr_Ptr_Ptr_Ptr.ucfg
.scannerwork/ucfg2/js/src_main_main_controller_ts_24_14_FE_7_0.ucfg
.scannerwork/ucfg2/js/src_main_main_controller_ts_26_7_A_3_0.ucfg
.scannerwork/ucfg2/js/src_main_main_controller_ts_27_7_A_4_0.ucfg
.scannerwork/ucfg2/js/src_main_main_controller_ts_28_7_A_5_0.ucfg
.scannerwork/ucfg2/js/src_main_main_service_ts_4_8_constructor_0.ucfg
.scannerwork/ucfg2/js/src_main_main_service_ts_5_11_FE_8_0.ucfg
.scannerwork/ucfg2/js/src_user_models_dtos_create_user_dto_ts_5_8_constructor_0.ucfg
.scannerwork/ucfg2/js/src_user_models_dtos_get_user_dto_ts_4_8_constructor_0.ucfg
.scannerwork/ucfg2/js/src_user_models_dtos_update_user_dto_ts_5_8_constructor_0.ucfg
.scannerwork/ucfg2/js/src_user_models_dtos_user_dto_ts_3_8_constructor_0.ucfg
.scannerwork/ucfg2/js/src_user_models_user_entity_ts_7_8_constructor_0.ucfg
.scannerwork/ucfg2/js/src_user_services_user_service_ts_9_14_FE_11_Ptr.ucfg
.scannerwork/ucfg2/js/src_user_services_user_service_ts_14_15_FE_12_use.ucfg
.scannerwork/ucfg2/js/src_user_services_user_service_ts_21_16_FE_13_id.ucfg
.scannerwork/ucfg2/js/src_user_services_user_service_ts_30_16_FE_14_0.ucfg
.scannerwork/ucfg2/js/src_user_services_user_service_ts_35_23_A_7_Ptr.ucfg
.scannerwork/ucfg2/js/src_user_services_user_service_ts_38_15_FE_15_id_dat.ucfg
